.alert.alert-info.mt-3
  | Текущая папка: &nbsp
  = @current_root
  = @current_path

= form_tag '/navigates/proceed', method: :patch do
  .row
    .col-4= text_field_tag :root_directory, nil,
      placeholder: 'Корневая папка',
      class: 'form-control'
    .col-7= text_field_tag :path_to, nil,
      placeholder: 'Тип объектов и путь к ним',
      class: 'form-control'
    .col-1= submit_tag 'Отправить', class: 'btn btn-success'

h5.alert-link= @type
hr

.objects
  - if @objects
    - @objects.each do |o|
      p = o
