// Place all the styles related to the Navigates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.outer {
    position: relative;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100px;
    height: 100px;
    margin: auto;

}
